* {
    font-family: Montserrat;
    font-size: 14px;
    padding: 0 10px;
}

window#waybar{
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    border-radius: 10px;
    background-color: transparent;
}

#workspaces button.focused {
    border-bottom: 3px solid white;
}

#workspaces button:hover {
    all: inherit;
    color: white;
    background: none;
}

#mode {
    background: #db2b00;
    border-bottom: 3px solid white;
}

#battery.charging {
    color: #06db0a;
}

#battery.warning:not(.charging) {
    background-color: #f53c3c;
    color: white;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio.muted {
    background-color: #c53c4e;
    color: #2d3436;
    padding: 0px 28px;
}

#idle_inhibitor.activated {
    background-color: #c53c4e;
    color: #2d3436;
}
